{% extends "components/base.html" %}

{% block title %}Menu - Gestão Ministerial{% endblock %}

{% block content %}
<header class="major">
    <h2>Gestão Ministerial</h2>
    <p>Selecione a Opção Desejada para Configuração.</p>
</header>
<div class="cards-container">
    <form action="/vis_dizimista" method="post" class="card-opcao">
        <img src="images/pic02.jpg" alt="">
        <h3>Aba de Dizimistas</h3>
        <p>Incluir, alterar ou excluir um membro/dizimista</p>
        <button type="submit">AVANÇAR</button>
    </form>
    <form action="/fil_movimento" method="post" class="card-opcao">
        <img src="images/pic03.jpg" alt="">
        <h3>Menu de Contribuição</h3>
        <p>Gerenciar movimentações por culto</p>
        <button type="submit">AVANÇAR</button>
    </form>
    <form action="/gerar_relatorio" method="post" class="card-opcao">
        <img src="images/pic04.jpg" alt="">
        <h3>Gerar Relatório</h3>
        <p>Relatório mensal de dizimistas - Sintético/Analítico</p>
        <button type="submit">AVANÇAR</button>
    </form>
    <form action="/contas_a_pagar" method="post" class="card-opcao">
        <img src="images/pic04.jpg" alt="">
        <h3>Contas a Pagar</h3>
        <p>Cadastro de pagamentos pendentes</p>
        <button type="submit">AVANÇAR</button>
    </form>
</div>
{% endblock %}
