<!DOCTYPE HTML>

<html>
	<head>
		<title>DIZWEB</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename = 'css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
    
<body>
    <div>
    <center><h1 id="exc_dizimista"> Selecione para excluir</h1></center>
    <br> <br> <br>
   
   
   
    </div>
    
    <center>
        <div class="table-wrapper">
            <div class="container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>CARGO</th>
                    <th>NOME</th>
                    <th>RI</th>
            
                </tr>
                {% for i in dados %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
            
                    </tr>
                {% endfor %}
            </table>
   <br>

   <label for="exclusao">Digite o ID ou o RI do usuário que será deletado:</label>
    <form action="/exclusao" method="post">
        <input type="text" id="exclusao" name="exclusao" required>
        <button type="submit">Excluir</button>
    </form>
    </div>
        </div>

<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; DIZWEB</li><li>Design: <a href="http://html5up.net">Kaique Carvalho®</a></li>
    </ul>
</section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>


   </center>
   
</body>
</html>