<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>DIZWEB - Geração de Relatório</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio.css') }}">
</head>
<body>

    <div id="conteudo-relatorio">
        <div class="container">
            <h1>Geração de Relatório</h1>
            <form action="/relatorio" method="post">
                <label for="de_data">Selecione o mês de emissão</label>
                <input type="month" id="mes_relatorio" name="mes_relatorio" required>

                <label for="tipo_relatorio">Selecione o tipo do Relatório</label>
                <select id="tipo_relatorio" name="tipo_relatorio" required>
                    <option value="" disabled selected>Selecione</option>
                    <option value="SINTÉTICO">SINTÉTICO</option>
                    <option value="ANALÍTICO">ANALÍTICO</option>
                </select>

                <button type="submit">Gerar</button>
            </form>

            <form action="/" method="get">
                <button type="submit">Voltar</button>
            </form>
        </div>
    </div>

</body>
</html>
