<!DOCTYPE HTML>

<html>
	<head>
		<title>DIZWEB</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/ver_dizimista.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename = 'css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
    
<body>
    <div>
    <center><h1 id="vis_movimento"> Visualização de movimentos</h1></center>

    {% set mensagens = get_flashed_messages() %}
 {% if mensagens %}
    <div><center>Atualizado com Sucesso!</center></div>
 {% endif %}
    <br> <br> <br>
   
   
   
    </div>
    
    <center>
        <div class="table-wrapper">
            <div class="container">
                <table>
                    <th>ID</th>
                    <th>ID_DIZIMISTA</th>
                    <th>VALOR</th>
                    <th>DATA</th>
                    <th>NOME</th>
            
                </tr>
                {% for linha in dados %}
                    <tr>
                        <td>{{ linha[0] }}</td>
                        <td>{{ linha[3] }}</td>
                        <td>{{ linha[1] }}</td>
                        <td>{{ linha[2] }}</td>
                        <td>{{ linha[4] }}</td>
                    </tr>
                {% endfor %}
                </table>

                <form action="/ins_movimento" method="post">
                    <button type="submit">Inserir</button>
                </form>

                <form action="/alt_movimento" method="post">
                    <button type="submit">Alterar</button>
                </form>

                <form action="/exc_movimento" method="post">
                    <button type="submit">Excluir</button>
                </form>

                <form action="/" method="get">
                    <button type="submit">Voltar</button>
                </form>
                
            </div>
        </div>

   <!-- Footer -->
   <section id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; DIZWEB</li><li>Design: <a href="http://html5up.net">Kaique Carvalho®</a></li>
    </ul>
</section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</center>

</body>
</html>
